@font-face {
    font-family: ‘Old School Adventure;
    src: url(./old_school_adventures/Old\ School\ Adventures.ttf) format(‘truetype’);
    src: url(./old_school_adventures/Old\ School\ Adventures.woff);
    font-weight: normal;
    font-style: normal;
    }

    body{
        font-family: ‘Old School Adventure;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    
    p{
        width: 90vw;
        border: 5px solid pink;
        padding: 25px;
    }
